# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/

# Excel data (optional - kep if you want to track sample data, remove if sensitive)
# customer_data.xlsx
# loan_data.xlsx
